* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: Poppins, sans-serif;
}

:root {
  --bg-color: #111111;
  --second-bg-color: #151515;
  --text-color: #fff;
  --main-color: #f703ff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem 9%;
  background: rgba(0, 0, 0, 1);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: transparent;

}

.logo {
  font-size: 3rem;
  font-weight: 800;
  color: var(--text-color);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar a {
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 10rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color:  #111010;
}
.home-slider {
  position: relative;
  width: 100%;
  height: 100vh;
}

.swiper-container {
  width: 125%;
}
.swiper-button-next {
  margin-right: 20px;
}
.swiper-button-prev{
  margin-left: 20px;
}
.swiper-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;

}

.slide-content h2 {
  font-size: 5em;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #000000;
}

.slide-content p {
  font-size: 3rem;
}
span {
  color: var(--main-color);
}

.logo span {
  color: var(--main-color);
}

.about {
  background-color: #111010;
  color: white;
  padding: 10rem 0;
}

.about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.about-text {
  flex: 1;
}

.about-text .heading {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.about-text p {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.about-text .btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: white;
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.about-text .btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
}
.about .about-text p {
  margin-left: 20px;
  font-size: 20px ;
  font-weight: bold;
}
.about .about-text .btn {
  margin-left: 20px;
}
.about-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}

.about-img img:hover {
  box-shadow: 0 0 50px var(--main-color), 0 0 100px var(--main-color);
}

.services {
  background-color: #131212;
  padding: 8rem 0;
}

.heading {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 6rem;
}

.service-cards {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  flex-wrap: wrap;
}

.service-card {
  background-color: #000000;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  width: calc(33.33% - 2 * 1rem);
  max-width: 300px;
  transition: transform 0.3s ease-in-out;
}

.service-card:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 3.5rem;
  color: var(--main-color);
  margin-bottom: 1.5rem;
}

.service-info h4 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.service-info p {
  font-size: 1.8rem;
  color: #666;
}

@media screen and (max-width: 768px) {
  .service-card {
    width: calc(50% - 2 * 1rem);
    max-width: none;
  }

  .about .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    flex-direction: row-reverse;
  }

  .about-img {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .service-card {
    width: 100%;
    max-width: none;
  }
}

.contact {
  background-color: #0e0e0e;
  padding: 10rem 9%;
  color: #fff;
}

.contact h2 {
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 5rem;
}

.contact form {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  justify-items: center;
}

.contact form .input-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-bottom: 2px solid #333;
  margin-bottom: 2rem;
  transition: border-bottom-color 0.3s ease;
}

.contact form input:focus,
.contact form textarea:focus {
  border-bottom-color: #870bcc;
}

.contact form textarea {
  resize: vertical;
  min-height: 100px;
}

.contact form .btn {
  display: inline-block;
  padding: 1rem 3rem;
  background: var(--main-color);
  border-radius: 2rem;
  color: #ffffff;
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  font-size: 40px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.contact form .btn:hover {
  background-color: #000000;
}

.contact form .btn {
  margin-top:10rem;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background: var(--bg-color);
}

.footer ul {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  color: white;
  border-bottom: 3px solid transparent;
}

.footer ul li a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer .copyrigth {
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
  color: white;
}
.swiper-pagination{
  position: absolute;
  padding-bottom: 100px;
  color: #be9b9b; /* Replace with the color you want */
}
/*
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
*/

.logo {
  font-size: 3rem;
  font-weight: 800;
  color: var(--text-color);
  cursor: pointer;
  transition: 0.4s ease-in-out;
  animation: rotate360 5s linear infinite; /* Adjust timing and animation name */
}
.text-color1{
  color: #f703ff;
}
.text-color2{
  color: #ff03f7;
}
.text-color3{
  color: #a6d3ca;
}
.home .text-color11{
  color: #f703ff;
}
.home .text-color22{
  color: #f703ff;
}
.home .text-color31{
   color: #00ffc6;
 }
